<ng-template #loading>
    <div class="d-flex flex-column align-items-center">
        <shared-loading-spiner></shared-loading-spiner>
    </div>
</ng-template>

<div class="" *ngIf="country; else loading">
    <div class="row">
        <div class="col-12">
            <h2>Pais: <strong> {{country.name.common}} </strong></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="col">
                <h3>Flag</h3>
                <!-- <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail"> -->
                <shared-lazy-image [url]="country.flags.svg" [title]="country.name.common" height="200"
                    width="300"></shared-lazy-image>
            </div>
            <div class="col mt-2">
                <h3>Coat Of Arms</h3>
                <!-- <img [src]="country.coatOfArms.svg" [alt]="country.name.common" class="img-thumbnail"> -->
                <shared-lazy-image [url]="country.coatOfArms.svg" [title]="country.name.common" height="300"
                    width="250"></shared-lazy-image>

            </div>
        </div>
        <div class="col">
            <h3>Details</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Capital: </strong>{{country.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Region: </strong>{{country.region}}
                </li>
                <li class="list-group-item">
                    <strong>Sub Region: </strong>{{country.subregion}}
                </li>
                <li class="list-group-item" *ngFor="let language of getLanguages(country.languages)">
                    <strong>Languages: </strong>{{language}}
                </li>
                <li class="list-group-item">
                    <strong>Population: </strong>{{country.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Country Code: </strong>{{country.cca3}}
                </li>
                <li class="list-group-item" *ngFor="let currency of getCurrencies(country.currencies)">
                    <strong>Currencies: </strong> {{ currency.name }} ({{ currency.symbol }})
                </li>
                <li class="list-group-item">
                    <strong>Borders: </strong> <span *ngFor="let border of country.borders">{{border}}, </span>
                </li>

            </ul>
            <div class="col mt-4">
                <h3>Translations</h3>
                <div class="d-flex flex-wrap">
                    <span *ngFor="let translation of country?.translations | keyvalue" class="badge m-1">
                        {{translation.key}}: {{translation.value.common}}
                    </span>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row mt-2">

    </div>

</div>